*{box-sizing:border-box;font-size:14px}
body{
    font:100% Helvetica,sans-serif;
    color:#333;
    background-color:#fff;
}
.blockquote-custom {
    position: relative;
    font-size: 1.1rem;
  }
  
  .blockquote-custom-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -25px;
    left: 50px;
  }
    .bolder-font {
      font-weight: 100;
    }
  